// 875px
$mediumScreen: 54.6875em;
.Footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000;
    @media screen and(max-width: $mediumScreen) {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        margin: 0;
        margin-left: 12.8rem;
        padding: 4rem 0;
        display: grid;
        grid-template-columns: 1fr;
        @media screen and(max-width: $mediumScreen) {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: auto;
            margin-bottom: -3rem;
        }
        .logo {
            width: 12.8rem;
            margin-bottom: 2rem;
            img {
                width: 100%;
            }
        }
        .links {
            font-size: 1.3rem;
            @media screen and(max-width: $mediumScreen) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .link {
                @media screen and(max-width: $mediumScreen) {
                    display: block;
                }
                &:hover::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 0.175rem;
                    height: 0.25rem;
                    background-color: white;
                    left: 0;
                    bottom: -4px;
                }
            }
        }
    }
    &-right-section {
        padding: 4rem 0;
        margin-right: 12.8rem;
        display: grid;
        grid-template-columns: 1fr;
        align-content: start;
        @media screen and(max-width: $mediumScreen) {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: auto;
        }
        text-align: right;
        .social-links {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;
            justify-content: right;
            .img-box {
                cursor: pointer;
                border-bottom: 2px solid transparent;
                position: relative;
                transition: 3s;
                &:hover::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 0.175rem;
                    background-color: white;
                    left: 0;
                    bottom: -4px;
                }
            }
        }
        .copyright {
            color: hsl(0, 0%, 41%);
            font-family: "Alata", sans-serif;
            font-size: 1.3rem;
        }
    }
}