// 875px
$mediumScreen: 54.6875em;
.btn-container {
    .btn {
        font-family: "Alata", sans-serif;
        padding: 1rem 4rem;
        letter-spacing: 0.5rem;
        font-size: 1.5rem;
        border: 2px solid #000;
        border: 2px solid hsl(0, 0%, 41%);
        // @media screen and(max-width: $mediumScreen) {
        //     display: none;
        // }
        &:hover {
            background-color: #000;
            color: hsl(0, 0%, 100%);
            border: none;
            transition: 0.5s;
            border: 2px solid transparent;
            cursor: pointer;
        }
    }
}