// 875px
$mediumScreen: 54.6875em;
.navbar {
    font-family: "Alata", sans-serif;
    margin: 6.4rem 12.8rem;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    display: flex;
    @media screen and(max-width: $mediumScreen) {
        margin: auto;
        margin: 3.4rem 3rem;
        font-size: 1rem;
    }
    // .logo {
    //     @media screen and(max-width: $mediumScreen) {
    //         width: 15rem;
    //         img {
    //             width: 100%;
    //         }
    //     }
    // }
    // .links {
    //     display: flex;
    //     gap: 2rem;
    //     .link {
    //         color: inherit;
    //         list-style: none;
    //         text-decoration: none;
    //         position: relative;
    //         // border: 2px solid red;
    //         @media screen and(max-width: $mediumScreen) {
    //             display: none;
    //         }
    //         &:hover::after {
    //             content: "";
    //             position: absolute;
    //             width: 100%;
    //             height: 0.175rem;
    //             background-color: white;
    //             left: 0;
    //             bottom: 4px;
    //         }
    //         // &:hover {
    //         //     transition: .3s;
    //         //     border-bottom: 3px solid white;
    //         // }
    //     }
    // }
    .menu {
        cursor: pointer;
        // border: 2px solid red;
    }
}