.CreationSection {
    margin: 0 12.8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    .h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 4.6rem;
        color: #000;
    }
    .btn {
        font-family: 'Alata', sans-serif;
        background-color: #000;
        color: hsl(0, 0%, 100%);
        padding: 1.5rem 4rem;
        letter-spacing: .5rem;
        font-size: 1.5rem;
    }
}